<div class="swiper-slide popular__card">
  <div class="popular__card-visual">
    <div class="popular__icon">
      <img src="@assets/icon/star.svg" alt="">
    </div>
    <div class="popular__vis-img">
      <img src={{img}} alt="" class="popular__img">
    </div>
    <div class="popular__likes">
      <div class="popular__like-box">
        <img src="@assets/icon/like.svg" alt="" class="popular__likes-icon">
      </div>
      <div class="popular__like-num">54</div>
    </div>
  </div>
  <div class="popular__card-desk">
    <div class="popular__card-title">{{group}}</div>
    <div class="popular__card-name">{{title}}</div>
    <div class="popular__card-composition">{{description}}</div>
    <div class="popular__info">
      <div class="popular__price">{{price}}</div>
      <img src="@assets/icon/rectangle.svg" alt="">
      <div class="popular__weight">
        {{weight}}
      </div>
    </div>
    <div class="popular__btn-add">
      <div class="counter" data-coun>
        <div class="popular__wrapper-count">
          <img src="@assets/icon/plus.svg" alt="" class="counter__button counter__butPlus">
          <input type="text" disabled value="1" class="input-counter--start">
          <img src="@assets/icon/minus.svg" alt="" class="counter__button counter__butMinus">
        </div>
      </div>
      <button class="popular__btn-orange">
        Добавить к заказу
        <img src="@assets/icon/basket-white.svg" alt="" class="popular__basket">
      </button>
    </div>
  </div>
</div>